* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 80px;
    width: 100%;
}

.container {
    width: min(100% - 0px, 1024px);
    margin: auto;
    padding: 30px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    list-style-type: none;
    cursor: pointer;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}


.iconLeave {
    font-size: 32px !important;
    cursor: pointer;
}

.iconLeave:visited {
    color: black !important;
}

.hardwareName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.explanation {
    text-align: justify;
    line-height: 30px;
}

.image {
    max-width: 400px;
    max-height: 400px;
}

.Design5 {
    position: absolute;
    z-index: -9999;
    bottom: 0;
    right: 0;
}

model-viewer {
    width: 100%;
    height: 500px;
}


/* For Tabs */

.btnTab {
    padding: 10px;
    cursor: pointer;
    border: 0px;
    transition: all 0.2s;
    background-color: white;
}

.btnTab:hover {
    background-color: #0094FF;
}

.btnTab {
    padding: 10px;
    cursor: pointer;
    border: 0px;
    transition: all 0.2s;
}

.btnTab:hover {
    background-color: white;
    color: #0094FF;
}

.btnTabActive {
    color: #0094FF;
    border-bottom: 1px solid #0094FF;
}

.centering {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.content {
    display: none;
}

.contentActive {
    display: flex;
    width: 100%;
    justify-content: center;
    animation: fadeAnimation 1s;
    flex-direction: column;
    align-items: center
}

.overflow_screen {
    overflow: hidden;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.ytVideoiframe {
    width: 100%;
    height: 455px;
}

.elipsis {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-top: 10px;
}

.HotspotAnnotation {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: Futura, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 700;
    left: calc(100% + 1em);
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: -50%;
    width: max-content;
}

.Hotspot {
    background: rgb(255, 255, 255);
    border-radius: 32px;
    border: 0px;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 4px;
    padding: 4px;
    position: relative;
    transition: opacity 0.3s ease 0s;
    width: 4px;
}

.caption_box {
    width: 500px;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 40px;
    border-radius: 8px;
    padding: 20px;
    transition: 0.2s;
    box-shadow: 0px 0px 20px rgb(206, 206, 206);
    box-sizing: border-box;
    opacity: 0;
    left: 35%;
}

.caption_box_active {
    opacity: 1;
    transition: 0.2s;
}

#toggleLabel {
    width: 100%;
    padding: 10px;
    background-color: grey;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

#toggleLabel:hover {
    background-color: #66ccff;
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(237, 245, 253);
    box-shadow: 0px 0px 10px  rgb(243, 243, 243);
    border-radius: 10px;
    margin-top: 10px;
}
  
#customers td, #customers th {
    padding: 20px;
    border: 1px solid rgb(238, 238, 238);
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers th {
    padding-top: 16px;
    padding-bottom: 12px;
    text-align: left;
    
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1 !important;
    border-radius: 50%;
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.carousel-control-next-icon {
    background-image: url('../images/right.svg') !important;
}

.carousel-control-prev-icon {
    background-image: url('../images/left.svg') !important;
}

audio {
    visibility: hidden;
    position: absolute;
}

.hide {
    display: none;
}

.box {
    width: 100%;
    background-color: red;
}

.carousel  {
    display: flex;
    align-items: center;
    width: 400px;
    height: 400px;
}

.carousel-item active  {
    max-height: 400px !important;
}


@keyframes fadeAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {

    model-viewer {
        width: 100%;
        height: 250px;
    }

    .burger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: white;
        top: 80px;
        left: 0%;
        width: 100%;
        height: calc(100vh - 80px);
        overflow-y: auto;
    }

    .show_nav_links {
        z-index: 9999;
        padding-top: 40px;
        display: block;
        height: 100%;
    }

    .nav-links li {
        padding: 20px 0px !important;
        margin: 5px 0px !important;
    }

    .nav-links li:hover {
        color: black;
    }

    .cross_burger .line1 {
        transform: rotate(-46deg) translate(-4px, 5px);
    }

    .cross_burger .line2 {
        opacity: 0;
    }

    .cross_burger .line3 {
        transform: rotate(46deg) translate(-5px, -6px);
    }

    .image {
        max-width: 300px;
        max-height: 300px;
    }

    .ytVideoiframe {
        height: 300px;
    }

    .caption_box {
        left: 5%;
        width: 90vw;
    }

    .carousel  {
        width: 100%;
        height: auto;
    }
}
