/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #d1d1d1 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1px;
    height: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 13px;
    border: 0px none #ffffff;
  }


  @media screen and (max-width: 728px) {
    *::-webkit-scrollbar {
      width: 1px;
      height: 0px;
    }
  }
